.container {
    position: absolute; // Use "relative" se o elemento pai estiver com "position: relative;"
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }