<mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

     <h3>Sys Odonto</h3>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <mat-divider></mat-divider>
        <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->
        <!-- <h3>Sys Odonto</h3> -->
        <h4 class="name">***************</h4>
        <p class="designation">_______</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </button>
        <button mat-button class="menu-button" routerLink="pacientes">
            <mat-icon>person</mat-icon>
            <span>Pacientes</span>
        </button>
        <button mat-button class="menu-button" routerLink="ajustes">
            <mat-icon>engine</mat-icon>
            <span>Ajustes</span>
        </button>


        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/help">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>