body {
    font-size: 14px;
  }
  .v1_2 {
    width: 900px;
    height: 276px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v2_5 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 35px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }